<!DOCTYPE html>
<html lang="en">

<head>
    <title>senate_party-loyalty</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <div>
                    <div>
                        <img src="http://ww1.prweb.com/prfiles/2008/11/19/349701/congressionalseal.jpg" width="120px"
                            height="120px">
                        <p class="text-right pt-5 float-right"><i class="material-icons"> mail</i><a href="mailto:">
                                info@tgif.net</a></p>
                    </div>

                    <nav class="navbar navbar-expand-lg navbar-light bg-light border border-dark">
                        <a class="navbar-brand" href="index.html">Home</a>
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Congress 113
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="house.html">House</a>
                                <a class="dropdown-item" href="senate-data.html">Senate</a>
                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Attendace</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="house_attendance.html">House</a>
                                <a class="dropdown-item" href="senate_attendance.html">Senate</a>
                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Party Loyalty</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="house_party-loyalty.html">House</a>
                                <a class="dropdown-item" href="senate_party-loyalty.html">Senate</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </nav>
        </header>
    </div>
    <!--Table container-->
    <div id="app">
    <section id="senate-data">
        <div class="container my-3">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Party Loyalty</h2>
                    <p>Those who consider themselves to be strong partisans, strong Democrats and strong Republicans
                        respectively,
                        tend to be the most faithful in voting for their party's nominee for office and legislation that
                        backs
                        their
                        party's agenda. </p>
                </div>
                <div class="col-sm-6">
                    <h2>Senate at a glance</h2>
                    <table class="table table-hover text-center  table-bordered">
                        <thead>
                            <tr>
                                <th>PARTY</th>
                                <th>NUMBER OF REPS</th>
                                <th>% VOTED WITH PARTY</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Republicans</td>
                                <td>{{number_of_republicans}}</td>
                                <td>{{republicans_average_votes_with_party}} %</td>
                            </tr>
                            <tr>
                                <td>Democrats</td>
                                <td>{{number_of_democrats}}</td>
                                <td>{{democrats_average_votes_with_party}} %</td>
                            </tr>
                            <tr>
                                <td>Independents</td>
                                <td>{{number_of_independents}}</td>
                                <td v-show="numberIndependents == 0"> 0 %</td>
                                <td v-show="numberIndependents !== 0"> {{independents_average_votes_with_party}} %
                                </td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td>{{total}}</td>
                                <td>{{total_average}} %</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <h2>Least Loyal (Bottom 10% of Party)</h2>
                    <table id="least_loyal" class="table table-hover text-center table-bordered">
                        <thead>
                            <tr>
                                <th>NAME</th>
                                <th>NUMBER OF MISSED VOTES</th>
                                <th>% MISSED</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="member of least_loyal">
                                <td><a :href="member.url"> {{member.last_name}}, {{member.first_name}}
                                        {{member.middle_name}}</a></td>
                                <td>{{member.total_votes}}</td>
                                <td>{{member.votes_with_party_pct}} %</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-6">
                    <h2>Most Loyal (Top 10% of Party)</h2>
                    <table id="most_loyal" class="table table-hover text-center table-bordered">
                        <thead>
                            <tr>
                                <th>NAME</th>
                                <th>NUMBER OF MISSED VOTES</th>
                                <th>% MISSED</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="member of most_loyal">
                                <td><a :href="member.url"> {{member.last_name}}, {{member.first_name}}
                                        {{member.middle_name}}</a></td>
                                <td>{{member.total_votes}}</td>
                                <td>{{member.votes_with_party_pct}} %</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    </div>
    <footer>
        <div class="container bg-light text-center my-3 py-3 border border-dark">
            2016 TGIF | All Rights Reserved
        </div>
    </footer>

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="appvue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        crossorigin="anonymous"></script>


    </div>
</body>

</html>